

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Flatpickr Example</title>

    <!-- Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


</head>
<body>
    <a asp-action="GetAll" class="btn btn-link">
        <span class="bi bi-arrow-left-square-fill" style="font-size: 30px; color: black;"></span>
    </a>
    <div class="container mt-2">

        <h2>Task</h2>
        <form asp-action="Add">
            <partial name="_FormViewPartial" />
        </form>
    </div>
</body>
</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
